*{

}
:root{
    font-size: 6.25%;
}
header{
    width: 100%;
    background-color: cadetblue;
   
}
body{
    font-size: 48rem;
    background-color: burlywood;
}
.container{
    background-color: rgb(161, 70, 5);
    width: 80%;
    height: 320rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

h1{
    font-size: 48rem;
}
h2{
font-size: 48rem;
}
p{
font-size: 16rem;
}
h3{
font-size: 48rem;
}

ul{
    font-size: 24rem;
}